<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>About</title>
    <meta name="description" content="Your about page description"/>
    <link href="https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;amp;lang=en"
          rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css" rel="stylesheet">
    {% load static %}
    <link href="{% static "styles/main.css" %}" rel="stylesheet">
</head>
<body id="top">
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
    <header class="mdl-layout__header mdl-layout__header--waterfall site-header">
        <div class="mdl-layout__header-row site-logo-row"><span class="mdl-layout__title">
            <div class="site-logo"></div><span class="site-description">War Pigs</span></span></div>
        <div class="mdl-layout__header-row site-navigation-row mdl-layout--large-screen-only">
            <nav class="mdl-navigation mdl-typography--body-1-force-preferred-font"><a class="mdl-navigation__link"
                                                                                       href="/">Stats</a><a
                    class="mdl-navigation__link" href="/pigs">Pigs</a><a class="mdl-navigation__link is-active"
                                                                         href="/raids">Raids</a>
            </nav>
        </div>
    </header>
    <div class="mdl-layout__drawer mdl-layout--small-screen-only">
        <nav class="mdl-navigation mdl-typography--body-1-force-preferred-font"><a class="mdl-navigation__link"
                                                                                   href="/">Stats</a><a
                class="mdl-navigation__link" href="/pigs">Pigs</a><a class="mdl-navigation__link is-active"
                                                                     href="/raids">Raids</a>
        </nav>
    </div>
    <main class="mdl-layout__content">
        <div class="site-content">
            <div class="mdl-grid site-max-width">
                <div class="mdl-cell mdl-cell--12-col mdl-card mdl-shadow--4dp page-content">
                    <div class="mdl-card__title">
                        <h1 class="mdl-card__title-text">Users List</h1>
                    </div>
                    <ul class="list-group" id="users_list">

                    </ul>
                </div>
            </div>
        </div>
        <footer class="mdl-mini-footer">
            <div class="footer-container">
                <div class="mdl-logo">&copy; Unitiled. Design: <a href="https://templateflip.com/" target="_blank">TemplateFlip</a>
                </div>
                <ul class="mdl-mini-footer__link-list">
                    <li><a href="#">Privacy & Terms</a></li>
                </ul>
            </div>
        </footer>
    </main>
    <script src="https://code.getmdl.io/1.3.0/material.min.js" defer></script>
</div>
</body>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script>
    var user_test_id = 1;

    $(document).ready(function () {
        get_users(true);
    });

    function get_users(loop = false) {
        $.ajax({
            url: `http://localhost:8000/users/`
        }).done(function (users_data) {

            var raids_data = $.ajax({
                url: `http://localhost:8000/users/${user_test_id}/raids/`,
                async: false
            }).responseJSON;

            console.log(raids_data);

            $("#users_list").html("");
            users_data.forEach(user => {
                if (user.id === user_test_id)
                    return

                let is_raided = false;
                for (let i = 0; i < raids_data.length; i++) {
                    if (raids_data[i].user_to_raid === user.id)
                        is_raided = raids_data[i]
                }

                let raid_info = "";
                if (is_raided) {
                    if (is_raided.time_left)
                        raid_info = `<p style="margin: 0; padding: 0">Raid in progress. Time Left: ${is_raided.time_left}</p>`;
                    else
                        raid_info = `<p style="margin: 0; padding: 0">Raid Completed: ${is_raided.status}</p>`;
                }

                $("#users_list").append(`<li id="user_${user.id}_data" class="list-group-item">
                            <span style="font-weight: bold; color: #FBC02D; float: right">Rating: <span
                                    style="font-weight: normal; font-size: 16pt">${user.rating}</span></span>
                            <h5><span style="font-weight: bold; color: #1E88E5">${user.username}</span></h5>

                            <div><span style="font-weight: bold; color: #EF5350">Pigs: <span
                                    style="font-weight: normal; font-size: 16pt">${user.pigs_count}</span></span></div>
                            <span style="font-weight: bold; color: #EF5350">Bricks: <span
                                    style="font-weight: normal; font-size: 16pt">${user.bricks}</span></span>
                            <div style="float: right; text-align:center;display:inline-block;">
                                ${raid_info}
                                <button style="width: 200px" class="btn btn-lg btn-danger" onclick="raid(${user.id})">Raid!</button>
                            </div>
                        </li>`);
            });
        });


        if (loop) {
            setTimeout(get_users.bind(null, true), 500);
        }
    }

    function raid(user_id) {
        $.ajax({
            url: `http://localhost:8000/users/${user_test_id}/raids/`,
            method: 'POST',
            headers: {"X-CSRFToken": "{{csrf_token}}"},
            data: {"user": user_test_id, "user_to_raid": user_id, "status": "active"}
        }).done(function (raid_data, textStatus, xhr) {
            get_users();
        }).fail(function (raid_data, textStatus, xhr) {
            try {
                alert(raid_data.responseJSON.error);
            } catch (e) {
                alert(xhr);
            }
        });
    }
</script>
</html>